<div class="bootstrap-wrapper">
    <div class="container">
        <div class="row mt10">
            <div class="col-md-6 offset-md-3">
                <mat-card>
                <div class="container text-center">
                    <img src="../../../assets/signup.png" height="150px" width="150px" alt=""/>
                </div>

                <h1 class="text-center">Login Here</h1>
                <!--{{loginData | json}}-->
                <form (ngSubmit)="formSubmit()">
                    <!--user name field-->
                 <mat-form-field class="full-width" appearance="fill">
                     <mat-label>User Name</mat-label>
                     <input [(ngModel)]="loginData.username" required  name="username" matInput placeholder="enter user name"/>
                 </mat-form-field>
 
                 <!--password field-->
                 <mat-form-field class="full-width" appearance="fill">
                     <mat-label>Password</mat-label>
                     <input [(ngModel)]="loginData.password" required type="password" name="password" matInput placeholder="enter password"/>
                 </mat-form-field>
 
                
                
                <div class="container text-center">
                    <button type="submit" mat-raised-button color="primary">Login</button>
                    <button class="ml10" type="reset" style="margin-left: 10px;" mat-raised-button color="accent">Reset</button>
                </div>
                  
                 
                </form>
            </mat-card>
            </div>
        </div>
    </div>
</div>